.allCard {
  position: relative;

  img {
    overflow: hidden;
    max-width: 1150px;
    width: 100%;
  }

  p {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    font-weight: 400;
    font-size: clamp(10px, 3vw, 45px);
    line-height: 94%;
    letter-spacing: -0.04em;
    color: #fffef4;
    left: 40px;
  }
}